*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body, #root{
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    
    
  
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px;
    height: 80px;
    background-color: white;
    padding-left: 20px;

    
      
             
}

#nav-prop{
    text-align: end;
    width: 100%;
    padding-right: 80px;
    font-size: 25px;
                
}

#main{
    min-height: 100vh;
    text-align: center;
    
    background-color: rgb(244, 247, 243)
        
}

footer{
    text-align: center;
    background-color: rgb(244, 247, 243);
    
        
}

.cont{
    padding: 30px 30px;
    width: 350px;
    height: 500px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 1px 1px 8px;
    margin: 10px;
    transition: all 0.3s ease;
    background-color: white;
    
}

article:hover{
    transform: scale(1.1);
}

#home{
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    /*background-color: rgba(173, 82, 209, 0.945);*/
    background-image: url("https://us.123rf.com/450wm/allakuz/allakuz2105/allakuz210500385/168789608-.jpg?ver=6");
    padding: 60px 0px;
    justify-content: center;
}

.imageItem{
    height: 350px;
    width: 100%;
    
}

.titleItem{
    text-overflow: ellipsis;
    overflow: hidden;
    object-fit: cover;
}

.navL{
    text-decoration: none;
    margin: 8px;
    color: black
}

.active{
    color: rgba(243, 159, 225, 0.945);
    font-size: 35px;
    font-weight: bold;   
}

.shopCart{
    text-decoration: none;
    padding-left: 350px;
    padding-right: 5px;
    color: black;
}

.imageItemDetail{
    width: 50%;
    height: 800px;
    padding-top: 55px;
    padding-left: 55px;  
}

.paddingTop{
    padding-top: 20px;
}

.noMuestra{
    display: none;
}


.carritoMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
}


#detail{
    display: flex;
    flex-direction: wrap;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,183,209,1) 100%);
    padding-bottom: 60px;
}

.estiloDetail{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-right: 60px;
}

.finalizarCompra{
    padding-top: 60px;
}

.imgPagos{
    padding-top: 80px;
}

.imgNav{
    width: 80%;
    
}
    
#cartMain{
    text-align: center;
    min-height: 100vh;
    background-image: url("https://us.123rf.com/450wm/allakuz/allakuz2105/allakuz210500385/168789608-.jpg?ver=6");
    background-color: transparent;
    padding: 60px 0px;
    justify-content: center;

    
}


#form{
    text-align: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,183,209,1) 100%);
    background-color: transparent;
    padding: 60px 0px;
    justify-content: center;

    
}



.paddingRight{
    padding-right: 20px;
}

.linkTo{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(102, 100, 101);
}

.textCart{
    padding-top: 180px;
    font-size: 80px;
    color: rgb(66, 66, 66);
    font-weight: bolder;
    
}

.titulo{
    font-size: 40px;
    font-weight: bold;
    color: black

}

.textoTotal{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top: 50px;
    
    
}

.colorPink{
    color: rgb(243, 159, 225);
    font-weight: bold;
    font-size: 20px;
}

.contTotal{
    background: radial-gradient(circle, rgba(247,210,247,1) 0%, rgba(255,182,241,1) 100%);
    
}

.botonesFin{
    padding-bottom: 20px;
}

.paddingLeft{
    padding-left: 60px;
}

.contInputs{
    background: radial-gradient(circle, rgba(247,210,247,1) 0%, rgba(255,182,241,1) 100%);
}
.inputs{
    height: 40px;
    width: 400px;
}

.imageItemForm{
    width: 100%;
    height: 200px;
}

.contItemForm{
    padding: 30px 30px;
    width: 200px;
    height: 300px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 1px 1px 8px;
    margin: 10px;
    background-color: white;
}

.listadoForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
